@font-face {
    font-family: "Futurak";
    src: url(fonts/futurak.ttf);
}
@font-face {
    font-family: "butler";
    src: url(fonts/Butler_Light.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;


}

.logo>img {
    width: 165px;
}

.header {
    box-sizing: border-box;
    width: 100vw;
    height: 93px;
    background-color: #000;
    padding: 10px 40px 10px 63px;
}

.menu>ul>li {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
}

.logo,
.right-side {
    display: inline-block;
}

.btns button {
    padding: 14px 16.5px;
    border-radius: 35px;

}

.btn1 {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 135px;
}

.btn2 {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 14px !important;
    margin-left: 10px;
    width: 145px;
}

.btns {
    display: inline-block;
}

.menu {
    display: inline-block;
}

.logo {
    vertical-align: middle;
    width: 27%;
}

.right-side {
    vertical-align: middle;
    text-align: right;
    width: 55%;
    margin-left: 170px;
}

.btn2>i {
    background-color: #fff;
    color: #ed1c24;
    padding: 8px;
    border-radius: 100%;
}

.slide {
    width: 100%;
    height: 650px;
}

.slide>img {
    width: 100%;
    height: 100%;
}

.intro {
    width: 100%;
    height: 500px;
    background-color: #000;


}

.intro>.content>h2 {
    margin: 0px;
    color: #fff;
}

.intro>.content>p {
    color: rgba(255, 255, 255, 0.7)
}

.content {
    text-align: center;
    padding-top: 90px;
    color: #fff;
}

.content>h2 {
    font-size: 40px;
    letter-spacing: 4px;
}

.content>h2>span {
    font-family: "Futurak";
}

.cards-logo {
    width: 280px;
    height: 145px;
    background-color: #fff;
    padding: 0px 15px;

}

.cards-logo>img {
    width: 250px;
    height: 140px;
    padding: 0 19px;
}

.card-btn {
    width: 174px;
    height: 50px;
    padding: 18px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 24px 40px 0px 40px;
    text-align: center;

}

.card-btn>button {
    border: none;
    background-color: transparent;
    color: #fff;
}

.complete-card {
    display: inline-block;
    margin: 0 5px;
}

.cards {
    width: 95%;
    margin: 40px auto;
    text-align: center;
}

.restaurant-franchise {
    width: 100%;
    
    background-color: rgb(15 15 15);
}

.restaurant-franchise > .content > h2 {
    color: #fff;
    font-size: 48px;
}

.content .one {
    font-family: "Futurak";
}

.address1-container{
    width: 90%;
    /* margin: 50px auto; */
}
.address2-container{
    width: 90%;
    margin: 0px 0px 40px 200px;
}
.address {
    padding: 30px 40px 30px 70px ;
    width: 55%;
    display: inline-block;
    
}

.address-detail {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    padding-left: 40px;
    text-align: justify;
}

.address-detail>h2 {
    font-size: 28px;
    line-height: 38px;
}

.address-detail>h2>span {
    font-family: "Futurak";
}

.address-detail>p:first-child {
    color: #ed1c24;
    font-size: 16px;
    letter-spacing: 0.48em;
    font-family: 'apercu';
    line-height: 20px;
}

.address-btn {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    padding: 10px 2px;
    margin-top: 40px;
    margin-left: 32px;
    text-align: center;
}
.address-btn > button{
    border: none;
    background-color: transparent;
    color: #fff;
}
.address-image{
    width: 40%;    
    height: 300px;
    display: inline-block;
}

.address2-container > .address {
    padding:  40px;
    width: 40%;
    height: 400px;
}
.address2-container > .address-image,.address3-container > .address-image,.address1-container > .address-image{
    
    position: relative;
    top: 30px;
}
.address > .address-btn > button > i{
    background-color: #fff;
    color: #ed1c24;
    padding: 8px;
    border-radius: 100%;

}
.express-franchise{
    width: 100%;
    height: 15  00px;
    background-color: #000 ;
    padding: 50px;
}
.franchise-container{
    width: 100%;
    height: 100%;
    background-color: rgb(15 15 15);
    /*   */
}
.franchise-container > .content > h2{
    font-size: 48px;
    line-height: 60px;
    margin: 0px;
}

.franchise-container > .content{
    padding-top: 65px;
    
}
.butler-font{
    font-family: "butler";
    font-size: 58px !important;
}

.address-image4{
    width: 325px;
    height:250px;
    background-color: #ed1c24;
    text-align: center;
}
.address-image4 > img{
    width: 100%;
}
.address-detail4{
    margin-top: 20px;
    color: #fff;
    font-family: inter;
    letter-spacing: -0.25px;
    line-height: 1cm;
}
.two{
    color: #ed1c24;
    text-transform: uppercase;
}
.address-detail4 > h2> span{
    font-family: "Futurak";
}
.address-container{
    width: 355px;
    margin: 10px 15px;
    display: inline-block;
}